@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welkom bij GroupSpace"]</h1>
</div>
<div style="margin-top:40px">
    <h4>@Localizer["GroupSpace is een educatief voorbeeld voor het bouwen van een website met ASP.NET Core (MVC) gebruikt voor de module .NET Frameworks."]</h4>
</div>
<div style="margin-top:40px">
    <h5>Volgende fasen werden gerealiseerd:</h5>
    <p>- Ingeven en aanpassen van <a asp-controller="Groups" asp-action="Index">Groepen</a></p>
</div>
